<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="./style.css" />
</head>
<div id="header"></div>
<div class="left"></div>
<div class="stuff">
  <br><br>
  <h1>Rafael</h1>
  <h2></h2>
  <hr />
  <br>
  <p class="head">Interests</p>
  <ul>
    <li>Backpacking</li>
    <li>Crime Fighting</li>
    <li>Basketball</li>
    <li>Vigilante by Night</li>
    <li>Student by Day</li>
    <a href="https://www.youtube.com/watch?v=6SFNW5F8K9Y">
    <li>This</li>
    </a>
  </ul>
  <p class="head">Skills</p>
  <ul>
    <li>Web Design with HTML</li>
  </ul>
  <p class="head">Education</p>
  <ul>
    <a href="https://www.westada.org/o/ehs">
      <li>Eagle High School</li>
    </a>
    <!--Link-->
    <a href="https://www.usu.edu/">
      <li>Utah State University</li>
    </a>
    <li>Gotham School of Accountancy</li>
  </ul>
  <p class="head">Experience</p>
  <ul>
    <li>ASC Meta 2 Project</li>
    <li>Solved 79 Cold Cases in '06'</li>
  </ul>
  <p class="head">Extracurriculars</p>
  <ul>
    <li>Recycling Club</li>
    <li>Gardening Club</li>
    <li>Astrophysics Club</li>
  </ul>
</div>
<div class="right"></div>
<div id="footer">
	<a href="/about"</a>
  <h2 id="name">If you would like to learn more about me, you can click here</h2></div>
</html>


